@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Set the background color to the specified HEX color */
  background-color: #0A0F0F;
}

/* Your global styles */

/* Responsive styles */
@media (max-width: 768px) {
  .absolute-video {
    /* Adjust the size for smaller screens */
    width: 100%;
    height: auto;
  }
}
