@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Set the background color to the specified HEX color */
  background-color: #0b0d0f;
}

@font-face {
  font-family: 'PPTelegraf-RegularSlanted';
  src: url('/fonts/PPTelegraf-RegularSlanted.woff2') format('woff2'),
        url('/fonts/PPTelegraf-RegularSlanted.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* Your global styles */

/* Responsive styles */
@media (max-width: 768px) {
  .absolute-video {
    /* Adjust the size for smaller screens */
    width: 100%;
    height: auto;
  }
}

.marquee-item {
  display: inline-flex;
  align-items: center;
  margin-right: 2rem; /* Adjust spacing between items */
}

.marquee-text {
  color: var(--tw-text-writing); /* Use custom writing color */
  font-size: var(--tw-font-xl);
  text-decoration: none;
  margin-right: 1rem; /* Adjust spacing between text */
}

  .footer {
    background-color: #FFFE1D; /* Yellow background color */
  }

  .marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }

  .content {
    animation: slide-marquee 20s linear infinite;
  }

  .text-writing {
    color: #0A0F0F; /* Writing color */
  }

  .marquee-text {
    display: inline-block;
    padding-left: 100%; /* Initial position */
    animation: marquee 30s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-marquee {
    0%, 100% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
